.background-image
.container
  .focus
    .logo-image
      =image_tag("/images/coming_soon/buried_elephant_logo.png")
    .title-image
      =image_tag("/images/coming_soon/buried_elephant_title.png")
    .coming-soon-text
      = "This is the text that explains buried elephant"
    .white-line
    %ul.icons
      %li.facebook= link_to image_tag("/images/coming_soon/icons/facebook.png"), root_path
      %li.tumblr= link_to image_tag("/images/coming_soon/icons/tumblr.png"), root_path
      %li.instagram= link_to image_tag("/images/coming_soon/icons/instagram.png"), root_path
      %li.snapchat= link_to image_tag("/images/coming_soon/icons/snapchat.png"), root_path
      %li.twitter= link_to image_tag("/images/coming_soon/icons/twitter.png"), root_path